@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.App {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  color: #333333;
  display:flex;
  flex-direction: column;
}

.title {
  color:#179F9E;
  margin-bottom: 0;
  margin-left: 5%;
}

.tagPicker {
  min-height: 60vh;
  padding: 0 5%;
}

.folderHeading {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
  .folderHeading h2{
    text-align: center;
  }
  
.selectedFolder {
  border: 0.2px solid #BED4D4;
  border-radius: 3px;
  
  padding: 2% 10%;
}
svg {
  color: #179F9E;
  margin: 0 .5rem 0 0;
}